<html>
<head>
<title>HUMANTIY TECH CHATBOT</title>
</head><body>
<style>
  df-messenger {
   --df-messenger-bot-message: #135fa7;
   --df-messenger-button-titlebar-color: #000958;
   --df-messenger-chat-background-color: white;
   --df-messenger-font-color: white;
   --df-messenger-send-icon: #000000;
   --df-messenger-user-message: #7b8fa0;
  }
</style>
<meta name="viewport" content="width-device-width, initial-scale=1">
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="NGOBOT"
  agent-id="a7c9c1d1-653a-4be5-bff1-5ceb26c2d155"
  language-code="en"
></df-messenger>
</body>
</html>

